<html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <h1>
            finally this is me ejs template from index route to home_controller to home.ejs file hmmm!!! :)
        </h1>
    </body>
</html>