.heading{
    color: grey;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(white,gray,black);
}
.outer-div{
    width: 50vw;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
    background-color: white;
    background-image: linear-gradient(to right,white,#e8f0fe);
    box-shadow: gray 2px 2px 10px 5px;
    border-radius: 20px;
}
.outer-div:hover{
  transition-duration: 0.5s;
  box-shadow: none;
}

*{
    box-sizing:  border-box;
  }
input[type=text],input[type=date], select{
    width: 100%;
    padding: 12px;
    height: 100px;
    border: black solid;
    border-width: 1px 0px 1px 0px;
    font-size: 1.2rem;
    background-image: linear-gradient(to right,white,#e8f0fe);
}
input[type="date"]::-webkit-calendar-picker-indicator{
    color: rgba(100, 72, 72, 0);
    opacity: 1;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
}
  .inner-heading{
      margin-bottom:-17px;
      margin-left: 10px;
      position: relative;
      height: 0%;
  }
.buttons{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.btn_stl{
      width:  200px;
      height: 50px;
      border-style: none;
      margin: 10px;
      border-radius:20px;
      outline: none;
      font-size: 15px;
  }
  .button1{
    background-image: linear-gradient(to right,#27f19a,#0cb8db);
  }
  .button1:hover{
    box-shadow: 5px 5px 10px 1px #27f19a;
    transition-duration: 0.3s;
}
  .button2{
    background-image: linear-gradient(to right,#7269ff,#20d0ff);
  }
  .button2:hover{
    box-shadow: 5px 5px 10px 1px #7269ff;
    transition-duration: 0.3s;
  }

  input:hover{
      background-color: gainsboro;
  }

  li{
    background-image: linear-gradient(to right,#b7dff1,#6b848f);
    border: solid #6c8691;
    list-style: none;
    border-width: 2px 0px 2px 2px;
      border-bottom-left-radius: 20px;
      margin-bottom: 10px;
      border-top-left-radius: 20px;
  }
  li .checks{
    margin-left: -25px;
    margin-top: 30px;
    position: absolute;
    transform: scale(1.5);
  }
  li:hover{
    box-shadow: #775f91 1px 1px 10px 0px;
    transition-duration: 0.3s;
  }
  